* {
	margin: 0px;
	padding: 0px;
}

/* Paleta de colores */
/* Azul fondo #68A7DD */


/* Visualización correcta en dispositivos móviles */
@media screen and (max-width: 400px) {

	.circulo1, .circulo2, .circulo3, .circulo4, .circulo5 {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: black;
		position: absolute;
		opacity: .25;
	}
	
	.circulo1 {
		top: 90px;
    	left: 100px;
	}
	
	.circulo2 {
		top: 110px;
    	left: 20px;
	}
	
	.circulo3 {
		top: 90px;
		left: 290px;
	}
	
	.circulo4 {
		top: 120px;
    	left: 205px;
	}
	
	.circulo5 {
		top: 40px;
		left: 120px;
	}

}

/* Visualización correcta en mi dispositivo móvil */
@media screen and (max-width: 1280px) {

	.circulo1, .circulo2, .circulo3, .circulo4, .circulo5 {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: black;
		position: absolute;
		opacity: .25;
	}
	
	.circulo1 {
		top: 90px;
    	left: 100px;
	}
	
	.circulo2 {
		top: 110px;
    	left: 20px;
	}
	
	.circulo3 {
		top: 90px;
		left: 290px;
	}
	
	.circulo4 {
		top: 120px;
    	left: 205px;
	}
	
	.circulo5 {
		top: 40px;
		left: 120px;
	}

}

/* Visualización correcta en el dispositivo de casa */
@media screen and (max-width: 1366px) {

	.circulo1, .circulo2, .circulo3, .circulo4, .circulo5 {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: black;
		position: absolute;
		opacity: .25;
	}

	.circulo1 {
		top: 410px;
		left: 450px;
	}
	
	.circulo2 {
		top: 520px;
		left: 160px;
	}
	
	.circulo3 {
		top: 410px;
		left: 1100px;
	}
	
	.circulo4 {
		top: 500px;
		left: 840px;
	}
	
	.circulo5 {
		top: 215px;
		left: 460px;
	}
	
	.circulo1:hover {
		top: calc(410px - 25px);
		left: calc(450px - 25px);
	}
	
	.circulo2:hover {
		top: calc(520px - 25px);
		left: calc(160px - 25px);
	}
	
	.circulo3:hover {
		top: calc(410px - 25px);
		left: calc(1100px - 25px);
	}
	
	.circulo4:hover {
		top: calc(500px - 25px);
		left: calc(840px - 25px);
	}

	.circulo5:hover {
		top: calc(215px - 25px);
		left: calc(460px - 25px);
	}

	.circulo1:hover, .circulo2:hover, .circulo3:hover, .circulo4:hover, .circulo5:hover {
		opacity: .1;
		cursor: pointer;
		width: 150px;
		height: 150px;
	}

}

/* Visualización correcta en el dispositivo de clase */
@media screen and (min-width: 1367px) {

	.circulo1, .circulo2, .circulo3, .circulo4, .circulo5 {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: black;
		position: absolute;
		opacity: .25;
	}
	
	.circulo1 {
		top: 600px;
		left: 660px;
	}
	
	.circulo2 {
		top: 750px;
		left: 250px;
	}
	
	.circulo3 {
		top: 590px;
		left: 1585px;
	}
	
	.circulo4 {
		top: 725px;
		left: 1200px;
	}
	
	.circulo5 {
		top: 310px;
		left: 675px;
	}
	
	.circulo1:hover {
		top: calc(600px - 25px);
		left: calc(660px - 25px);
	}
	
	.circulo2:hover {
		top: calc(750px - 25px);
		left: calc(250px - 25px);
	}
	
	.circulo3:hover {
		top: calc(590px - 25px);
		left: calc(1585px - 25px);
	}
	
	.circulo4:hover {
		top: calc(725px - 25px);
		left: calc(1200px - 25px);
	}

	.circulo5:hover {
		top: calc(310px - 25px);
		left: calc(675px - 25px);

	}

	.circulo1:hover, .circulo2:hover, .circulo3:hover, .circulo4:hover, .circulo5:hover {
		opacity: .1;
		cursor: pointer;
		width: 150px;
		height: 150px;
	}
	
}

.divImg img {
	width: 100%;
	/* height: 100vh;
	background: url('./../img/juego.png');
	background-size: 100%;
	background-repeat: no-repeat; */
}

.pregunta1, .pregunta2, .pregunta3, .pregunta4, .pregunta5 {
	width: calc(100vw - 80px);
	height: calc(100vh - 80px);
	margin: 20px;
	border-radius: 0%;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: black;
	opacity: .75;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 28px;
	box-sizing: border-box;
}

p, input[type="radio"], input[type="button"] {
	display: none;
}

.respuesta1, .respuesta2, .respuesta3, .respuesta4, .respuesta5 {
	/*display: none;*/
}

